<div class="container">
  <div class="row">
    <div class="col">
      <div class="mt-5">
        <h1 style="font-size: 30px">Welcome to cats breeds</h1>
        <p class="lead">To see all the breeds of cats click the button</p>
        <span><a (click)="getBreeds()"></a></span>
      </div>
    </div>
  </div>
  <div class="row">
    <h1 *ngIf="listOfBreeds" class="textOfList">List of breeds</h1>
    <div class="col-md-3 mb-4" *ngFor="let breed of catBreeds">
      <app-list-item [breed]="breed" (onSelect)="onSelect($event, breed.image.id, breed.id)"></app-list-item>
<!--      <div class="card">-->
<!--        <img height="200px"-->
<!--             *ngIf="breed.image?.url"-->
<!--             [src]="breed.image.url"-->
<!--             [alt]="breed.name">-->
<!--        <div class="card-body">-->
<!--          <h1 class="card-title">{{breed.name}}</h1>-->
<!--          <p class="card-text textDescription">{{breed.description}}</p>-->
<!--          <mat-selection-list #breads>-->
<!--            <mat-list-option (selectedChange)="onSelect($event, breed.image.id, breed.id)">-->
<!--              Add breed to your favourite-->
<!--            </mat-list-option>-->
<!--          </mat-selection-list>-->
<!--        </div>-->
<!--      </div>-->
    </div>
  </div>

  <div class="row">
    <h2 *ngIf="listOfBreeds" class="textOfList">List of your favourite breed</h2>
    <div class="col-md-3 mb-4" *ngFor="let favouriteBreed of favouriteBreeds">
      <div class="card">
        <img height="200px"
             *ngIf="favouriteBreed.image?.url"
             [src]="favouriteBreed.image.url"
             [alt]="favouriteBreed.name">
        <div class="card-body">
          <h1 class="card-title">{{favouriteBreed.name}}</h1>
          <p class="card-text textDescription">{{favouriteBreed.description}}</p>
          <div class="row">
            <div class="col" style="color: green">
              <h2>
                {{ (getVotesForItem(favouriteBreed.image?.id) != null && getVotesForItem(favouriteBreed.image?.id) != 0) ? 'You liked this breed!' : ''}}
              </h2>
            </div>
          </div>
          <div class="row text-center">
            <div class="col" [class.disabled]="getVotesForItem(favouriteBreed.image?.id) == 1">
              <mat-icon class="likeIcon" (click)="voteFavorite('like', favouriteBreed)">thumb_up_alt</mat-icon>
            </div>
            <div class="col">
              {{favouriteBreed.name}}
            </div>
            <div class="col" [class.disabledd]="getVotesForItem(favouriteBreed.image?.id) != 1">
              <mat-icon class="dislikeIcon" (click)="voteFavorite('dislike', favouriteBreed)">thumb_down_alt</mat-icon>
            </div>

            <div class="col">
              <mat-icon class="dislikeIcon" (click)="removeFavorite(favouriteBreed)">remove_circle_outline</mat-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
