.disabled {
  color: green;
  pointer-events: none;
  opacity: 0.5;
}

.textDescription {
  line-height: 1.6rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  max-height: 7rem;
}

.likeIcon {
  color: green;
  cursor: pointer;
}

.dislikeIcon {
  color: red;
  cursor: pointer;
}

.textOfList {
  font-family: 'Montserrat', sans-serif;
  color: lightskyblue
}

span {
  position: relative;
  display: inline-flex;
  width: 180px;
  height: 55px;
  margin: 0 15px;
  perspective: 1000px;
  cursor: pointer;
}

span a {
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform .25s;
  font-family: 'Montserrat', sans-serif;

}

span a:before,
span a:after {
  position: absolute;
  content: "BREEDS";
  height: 55px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  box-sizing: border-box;
  border-radius: 5px;
}

span a:before {
  color: #fff;
  background: #000;
  transform: rotateY(0deg) translateZ(25px);
}

span a:after {
  color: #000;
  transform: rotateX(90deg) translateZ(25px);
}

span a:hover {
  transform: translateZ(-25px) rotateX(-90deg);
}


