<div class="card">
  <img height="200px"
       *ngIf="breed.image?.url"
       [src]="breed.image.url"
       [alt]="breed.name">
  <div class="card-body">
    <h1 class="card-title">{{breed.name}}</h1>
    <p class="card-text textDescription">{{breed.description}}</p>
    <mat-selection-list #breads>
      <mat-list-option (selectedChange)="onSelect.emit()">
        Add breed to your favourite
      </mat-list-option>
    </mat-selection-list>
  </div>
</div>
